
.vscode/*
__pycache__/*

dev/*
outputs/*
bkps/*
test/*

api_keys*


downloaders/downloads/*
docs/*


MyImageGen.lnk
prompts_custom.yaml
prompts_custom.json
tagger_focus.json
api_generator.py

README_*