
.vscode/*
__pycache__/*

dev/*
outputs/*
bkps/*
test/*

api_keys*

*.wav
*.mp3

downloaders/downloads/*
docs/*


MyImageGen.lnk
prompts_custom.yaml
prompts_custom.json
tagger_focus.json
api_generator.py

README_*

*_dev*
*_v*.py

src/ocr_test/*